/* Let's get this 1:45 am breeeeaaaaaad! */

body {
  background-image: url("../images/solo-jazz-cup-wide.jpg");
  background-color: white;
  background-size: auto;
  text-align: center;
  padding: 20px 70px;
}

div {
  background-color: #33cccc;
  padding: 20px;
  border-radius: 25px;
}

.font {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  color: #a300cc;
}

p {
  color: #33cccc;
}

figure {
  float: center;
  text-align: center;
  color: #1e1e7b;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5px;
  padding: 0.5px;
}

section {
   /*width: 300px;*/
   background-color: white;
   border-radius: 40px;
   padding: 30px;
   padding-bottom: 40px;
   margin: auto;
   margin-bottom: -170px;
}

.border {
  border-style: outset;
  border-color: #a300cc;
  border-width: thick;
}
