body {
  background-color: gold;
  background-image: url("../images/honey-drip-altered.jpg");
  background-blend-mode: luminosity;
  background-size: auto;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anonymous Pro';
  src: url('../fonts/AnonymousPro-Regular') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  color: rgb(77, 74, 7);
}

p {
  font-family: "Anonymous Pro", Verdana, serif;
}

.honey {
  width: 50%;
  margin: auto;
  background: lightyellow;
  border-style: solid;
  border-color: rgb(158, 130, 26);
  border-width: thick;
  border-radius: 15px;
  padding: 15px;
  font-size: 12px;
  font-style: oblique;
  color: rgb(153, 137, 27);
}

.beeboy {
  width: 65%;
  margin: auto;
  background: rgb(254, 244, 183);
  border-style: solid;
  border-color: rgb(112, 94, 26);
  border-width: thick;
  border-radius: 15px;
  padding: 15px;
  font-size: 12px;
  color: rgb(134, 120, 23);
}

.yellowleft {
  text-align: left;
  color: rgb(205, 183, 14);
  padding-left: 20px;
}

.blackright {
  text-align: right;
  color: black;
  padding-right: 20px;
}

.blackcenter {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.yellowright {
  text-align: right;
  color: rgb(205, 183, 14);
  padding-right: 20px;
}

.blackleft {
  text-align: left;
  color: black;
  padding-left: 20px;
}

.shakinitup {
  text-align: left;
  color: black;
}
