/*Body & page background*/
body {
  background-color: rgb(71, 134, 165);
}

.about {
  background-image: url("../images/blue-hexagons.jpg");
  background-position: center;
  top: 150px;
  background-repeat: no-repeat;
  background-size: auto;
  width: 93.5%;
  height: auto;
}

.contact {
  background-image: url("../images/blue-and-red-abstract.jpg");
  background-position: center;
}

.services {
  background-image: url("../images/blue-lines.jpg");
}

h1, h2, h3, h4, h5 {
  font-family: 'GillSans Bold', sans-serif;
  font-weight: bold;
  color: rgba(216, 106, 86, 1);
}

/* Header */
.header-box {
  background-color: rgba(35, 48, 67, 1);
  font-family: 'GillSans Bold', sans-serif;
  width: 93.5%;
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  color: rgba(205, 208, 214, 1);
}

.sticky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Header logo */
.logo-box {
  width: 900px;
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
}

.logo-width {
  width: 900px;
}

/* Dropdown menu */
.dropdown-menu {
  font-family: 'GillSans Bold', 'Avenir Medium', sans-serif;
  font-size: 1.2em;
  text-align: center;
  color: rgba(216, 106, 86, 1);
  width: 100;
  height: 150px;
  padding: 15px;
}

.dropdown-menu-placement {
  position: fixed;
  top: 0;
  left: 950px;
}

.dropdown-content {
  display: none;
  background-color: rgba(35, 48, 67, 1);
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  font-size: 1em;
  text-align: center;
  color: rgba(205, 208, 214, 1);
  margin: 5px;
  padding: 5px;
}

.dropdown-menu-placement:hover .dropdown-content {
  display: block;
}

/* Link Stuff */
a:link {
  color: rgba(205, 208, 214, 1);
  text-decoration: none;
}

a:hover {
  font-style: oblique;
}

a:visited {
  color: rgba(216, 106, 86, 1);
  text-decoration: none;
}

a:active {
  color: rgba(216, 106, 86, 1);
  text-decoration: underline;
}

/* Search Bar */
.search-position {
  position: fixed;
  top: 50px;
  left: 1050px;
}

.search-bar {
  position: absolute;
  padding: 20px 50px;
}

.search-text {
  background-color: rgb(71, 134, 165);
  width: 350px;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 20px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  color: white;
}

.search-button {
  position: absolute;
  top: 27px;
  right: 70px;
  cursor: pointer;
  color: rgb(166, 200, 216);
  font-size: 1.5em;
}

/* Main page main image */
.main-page-image {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 600px;
}

#show-background {
  background-image: url("../images/stark-industries-building-03.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

#show-background-02 {
  background-image: linear-gradient(to bottom, rgba(216, 106, 86, 1), rgba(35, 48, 67, 1));
  opacity: 50%;
  background-size: cover;
}

.change {
  position: absolute;
  top: 550px;
  left: 0;
  font-family: 'GillSans Bold', 'Avenir Medium', sans-serif;
  font-weight: bold;
  font-size: 5em;
  color: rgba(205, 208, 214, 1);

}

/* About sections */
.overflow {
  overflow: scroll;
}
.founding {
  background-color: white;
  position: absolute;
  top: 175px;
  left: 50px;
  right: 50px;
  margin: 15px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  text-align: center;
  color: rgb(71, 134, 165);
}

.business-change {
  background-color: white;
  position: absolute;
  top: 400px;
  left: 50px;
  right: 50px;
  margin: 15px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  text-align: center;
  color: rgb(71, 134, 165);
}

.recent {
  background-color: white;
  position: absolute;
  top: 755px;
  left: 50px;
  right: 50px;
  margin: 15px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  text-align: center;
  color: rgb(71, 134, 165);
}

/* About Gallery */
.gallery-position {
  background-color: white;
  position: absolute;
  top: 1020px;
  left: 50px;
  right: 50px;
  margin: 15px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  text-align: center;
  color: rgb(71, 134, 165);
}

.gallery-position-02 {
  background-color: white;
  position: absolute;
  top: 1420px;
  left: 50px;
  right: 50px;
  margin: 15px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  text-align: center;
  color: rgb(71, 134, 165);
}

.gallery {
  margin: 5px;
  border: 1px solid;
  border-color: rgb(237, 244, 247);
  float: left;
  width: 180px;
}

.gallery:hover {
  border: 1px solid;
  border-color: rgba(205, 208, 214, 1);
}

.gallery img {
  width: 100%;
  height: 400;
}

.desc {
  padding: 15px;
  text-align: center;
}

/* Contact page */
.contact-box {
  background-color: rgba(216, 106, 86, 1);
  position: absolute;
  top: 60%;
  left: 50%;
  width: 29%;
  height: 55%;
  transform: translate(-50%,-50%);
  padding: 20px;
  border: none;
  border-radius: 20px;
  font-family: 'GillSans Bold', 'Avenir Skinny', sans-serif;
  color: rgba(35, 48, 67, 1);
}

.contact-name {
  background-color: rgba(205, 208, 214, 1);
  width: 250px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  color: rgba(35, 48, 67, 1);
}

.contact-email {
  background-color: rgba(205, 208, 214, 1);
  width: 250px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  color: rgba(35, 48, 67, 1);
}

.contact-phone {
  background-color: rgba(205, 208, 214, 1);
  width: 250px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  color: rgba(35, 48, 67, 1);
}

.contact-message {
  background-color: rgba(205, 208, 214, 1);
  width: 400px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  color: rgba(35, 48, 67, 1);
}

.button-placement {
  position: fixed;
  left: 25px;
  width: 75px;
  padding: 5px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  color: rgba(35, 48, 67, 1);
}

/*News articles */
.article-position {
  background-image: linear-gradient(to bottom, rgba(205, 208, 214, 1), rgb(166, 200, 216));
  position: absolute;
  top: 200px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-width: thin;
  border-color: white;
  border-radius: 20px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  color: rgba(35, 48, 67, 1);
}

.article-move-01 {
  position: absolute;
  top: 420px;
}

.article-move-02 {
  position: absolute;
  top: 640px;
}

.article-meta {
  font-size: 13px;
  font-family: 'Avenir Skinny', 'GillSans Bold', sans-serif;
  color: rgba(35, 48, 67, 1);
}

.header-color {
  color: rgba(40, 88, 111, 1);
}

.article-position:hover {
  background-image: none;
  background-color: white;
  border-width: medium;
  border-style: inset;
  cursor: pointer;
}

/*Stark Tower map*/
.map {
  position: absolute;
  top: 275px;
  right: 75px;
  margin-left: auto;
  margin-right: auto;
}
